# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Uploaded Files
backend/app/uploads/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/